#AnimationContainer {
	width: 450px; height: 450px;
	margin: 10px;
	border-radius: 10px;
	background-color: Coral;
}

/* ---- Text panel ---- */
#tPanel {
	width: 450px; 
	height: 40px;
	margin: 5px;
}
#cText {
	position: relative;
	text-align: center;
	margin: 0;	
	opacity: 0; /* fade in with timeline */
	font-family: 'Source Code Pro', monospace;
	color: Coral;
	font-size: 30px;
}

/* ---- DHS symbols ---- */
#Systems {
	position: absolute;
	top: 80px;
}
.DHS {
	position: absolute;	
	width: 0px; height: 0px;
	border-radius: 0px; border: 1px solid White;
	// background-color: White;
	z-index: 2;
}

/* ---- Document (message) symbols ---- */
#Messages {
	position: absolute;
	top: 80px;
}
.doku {
	font-family: 'Material Icons';
	font-size: 60px;	
	color:	White;
}
.mess {
	position: absolute;
	opacity: 0; /* fade in with timeline */
	z-index: 3;
}

/* ---- Credits ---- */
#Credits {
	position: absolute;
	font-family: 'Source Code Pro', monospace;
	color: White;
	font-size: 30px;
	left: 30px; top: 100px;
}
.creditTxt {
	opacity: 0;
}

/* ---- Final text ---- */
#finalT {
	position: absolute;
	font-family: 'Source Code Pro', monospace;
	color: White;
	font-size: 30px;
	top: 200px;
	width: 450px;
}
#fT {
	text-align:center;
	opacity: 0;
}
